.cover__link {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  text-decoration: none;
}

.cover__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: 0.4s;
}

@media (hover:hover) {
  .cover__link:hover:before {
    opacity: 0.8;
  }
}

@media (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    min-height: 390px;
  }
}

@media (max-width: 623px) {
  .cover__link {
    min-height: 300px;
  }
}

@media (max-width: 479px) {
  .cover__link {
    min-height: 200px;
  }
}

