.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }
}
