.intro {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .intro {
    margin-bottom: 88px;
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .intro {
    margin-bottom: 64px;
    max-width: calc(100% - 64px);
  }
}

@media (max-width: 479px) {
  .intro {
    margin-bottom: 64px;
    max-width: 288px;
  }
}
